<!DOCTYPE html>
<html>
<head>
  <%- include ../partials/header.ejs %>
</head>

<body>

<%- include ../partials/nav.ejs %>

<div class="container">
<h2> contact information</h2>

<ul>
        <li>email: <a href="mailto:sjin32@my.centennialcollege.ca">    sjin32@my.centennialcollege.ca
                </a></li>
        <li>phone:+1 437 340 1510</li>
        <li>address:Ontario, Canada</li>


</ul>

</div>

</body>
</html>
