<!DOCTYPE html>
<html>
<head>
  <%- include ../partials/header.ejs %>
</head>

<body>

<%- include ../partials/nav.ejs %>

<div class="container">
<h2>services</h2>

    这里显示个人简历中的服务内容，列出自己提供的服务，比如C++ Java Delphi等编程语言的开发，
    网站开发，网站维护，网站推广等等，这里可以列出自己的服务内容，让客户了解自己的服务范围，以便客户选择自己的服务。
    ERP系统开发
    网站开发
    移动应用程序开发


<ul>
    <ul>C++</ul>
    <ul>Java</ul>
    <ul>Delphi</ul>
    <ul>Web Design</ul>
    <ul>System </ul>


</ul>

</div>

</body>
</html>
