<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>


      <% if (title == "Home"){ %>
      <li class="nav-item active">
        <% } else  { %>
      <li class="nav-item">
        <% } %>
        <a class="nav-link" href="/"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
      </li>


      <% if (title == "Services"){ %>
      <li class="nav-item active">
        <% } else  { %>
      <li class="nav-item">
        <% } %>
        <a class="nav-link" href="/services"><i class="fas fa-lg fa-laptop-house"></i> Services </a>
      </li>



      <li>
        <a href="/services" target="_self"><span class="glyphicon glyphicon-user"></span> Services</a>
      </li>
      <li>
        <a href="/projects" target="_self"><span class="glyphicon glyphicon-user"></span> Projects</a>
      </li>
      <li>
        <a href="/contact" target="_self"><span class="glyphicon glyphicon-user"></span> Contact Me</a>
      </li>
      <li>
        <a href="/about" target="_self"><span class="glyphicon glyphicon-user"></span> About Me</a>
      </li>
    </ul>
    <!--    <ul class="nav navbar-nav navbar-right">-->
    <!--      <li class="navbar-right">-->
    <!--        <a href="/about"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center</a>-->
    <!--      </li>-->
    <!--    </ul>-->
  </div>
</nav>
