<h1><i class="fas fa-project-diagram fa-lg"></i> Look what <strong><%= title %></strong> I have accomplished</h1>
<div class="container">
<div class="projectstable">
    <table class="table table-dark table-striped table-hover" id="table">
  <thead>
    <tr>
        <th scope="col"><h4>Project</h4></th>
        <th scope="col"><h4>Description</h4></th>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td><a href="#"><img class="img-thumbnail" src="/Assets/images/project1.png"></a></td>

      <td><h3>CEC Enterprise Resource Planning System  -  backend</h3>
          <p> java/mysql/docker/springCloud</p>
          <p>Project description: a ERP system for construction enterprises.
          <p>Responsibilities：Responsible for architecture design and technology stack selection
              <br>Technologies：Java /SpringBoot/ mysql /docker/linux/docker .etc
      </td>
  </tr>

  <tr>
      <td><a href="#"><img class="img-thumbnail" src="/Assets/images/project2.png"></a></td>

      <td><h3>CEC Enterprise Resource Planning System  -  front-web</h3>
          <p> java/mysql/docker/springCloud</p>
          <p>Project description: Web UI fro   ERP system .
          <p>Responsibilities：design and  development
              <br>Technologies:  vue.js /html/css/js/element-ui/axios/echarts/webpack
      </td>
  </tr>

    <tr>
        <td><a href="#"><img class="img-thumbnail" src="/Assets/images/project3.jpg"></a></td>
        <td><h3>  CEC ERP Client (Android )  </h3>
            Project description： Excellent client of ERP system, used in daily work of construction companies.
            <br>Responsibilities：Responsible for the development of the main functional modules of the client, such as the construction of the project,
            <br>Technologies：Android/Flutter
        </td>
    </tr>









  </tbody>
</table>


</div>
</div>
<span class="type" id="extraspan"></span> 