<div class="about-section">     
    <h1><i class="fas fa-info-circle fa-lg"></i> <strong><%= title %> Me</strong> </h1>   
    <div class="h-100 p-4 text-white bg-dark border rounded-3">
        <div class="selfie border">
            <img src= "/Assets/images/photo.jpg" class="img-thumbnail mx-auto d-block" width="200"><br>
        </div>
        <div class="descriplist mt-3">
            <ul>
                <li>
                    Full name: <strong>Shu Jin</strong>
                </li>

                <br>
                <li>
                    I am studying Software Engineering Technology at Centennial.
                </li>
                <br>
                <li>
                    This is for application development assignments #1.
                </li>
            </ul>



            <button class="btn btn-outline-light p-3 mt-5 ms-4" type="button" onclick="location.href='/Assets/files/resume.pdf'"><strong>Resume Download</strong></button>
        </div>
        <div id="lottieabout">

        </div>
    </div>
</div>
<span class="type" id="extraspan"></span> 