<header id="home">
 <div class="row banner">
        <div class="banner-text">

            <h1 class="responsive-headline"><span class="type"></span></h1>
            <h1>Welcome</h1>
            <hr>
            <h2 style="color: orange;font-family: Arial ">I am studying Software Engineering at Centennial .<br>
                I have been working as a software developer for many years,
                now I am looking for a job, I have a lot of experience, I can help your company.<br>
                Wanna learn more <a role="button" class="btn btn-outline-secondary text-white" aria-pressed="true" href="/about">About</a> me?
                Let's <a role="button" class="btn btn-outline-secondary text-white" aria-pressed="true" href="/contact">Talk</a>.</h2>
            <hr>
            <ul class="social">
                <li><a href="https://www.facebook.com/shu.jin.5621149"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://www.instagram.com/shu.jin.020"><i class="fab fa-instagram-square"></i></a></li>
                <li><a href="https://github.com/ccjinshu/COMP229"><i class="fab fa-github-square"></i></a></li>
            </ul>


        </div>
    </div>
</header>
