<h1><i class="fas fa-concierge-bell fa-lg"></i> Look what <strong><%= title %></strong> I can offer</h1> 
<div class="container">
<div class="servicestable">


    <table class="table table-dark table-striped table-hover" id="table">
  <thead>
    <tr>

      <th scope="col"><h4>Services</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>

        <td><h3> System Architect </h3>
            <p>I possess a deep understanding of system architecture,
                and am capable of designing efficient and reliable solutions based on your company's needs and goals. My proficiency in multiple programming languages, combined with my meticulous approach to code development, ensures high-quality and efficient results.


             </p>
        </td>
    </tr>

    <tr>
      <td><h3>Web development</h3>
          <p>
              Java/.net/node.js/vue/Flutter/oracle/mysql/mongodb/redis
          </p>  
      </td>
    </tr>

    <tr>
        <td><h3>Android App development</h3>
            <p>
               Flutter
            </p>
        </td>
    </tr>

    <tr>
        <td><h3> Openwrt  development</h3>
            <p>
                Openwrt Sdk / C++ /lua / mqtt
            </p>
        </td>
    </tr>
  </tbody>
</table>



</div>
</div>
<span class="type" id="extraspan"></span>